/* Show it is fixed to the top */
/* base hexcolor https://hex-colors.org/hex/4f7673 */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.jumbotron {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #fafafa;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 1rem 2rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.navbar-brand {
  color: #65a499;
}

.col {
  padding-top: 15px;
}
.form-control {
    border-radius: 0px;
}

.form-control:focus {
    border-color: #4f7673;
    outline: 0;
    box-shadow: 0 0 0 0.2px rgba(79, 118, 115, 0.25);
}
.form-control:focus::-webkit-input-placeholder {
  color: rgba(79, 118, 115, 0.25);
}
.form-control:focus:-moz-placeholder {
  color: rgba(79, 118, 115, 0.25);
}
.btn-primary {
    color: #fff;
    background-color: #4f7673;
    border-color: #4f7673;

}
.btn-primary:hover {
    color: #fff;
    background-color: #4f9693;
    border-color: #4f9693;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4f9693;
    border-color: #4f9693;
    box-shadow: 0 0 0 0.2rem rgba(79, 118, 115, 0.25);
}
a {
    color: #4f9693;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #4f9693;
    text-decoration: underline;
}
